body {
  text-align: center;
  background: url("http://rossmiglin.com/images/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: arial;
}
header{
  text-align: center;
}
a {
  color: white;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 44px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border radius: 20px;
}
p {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
ul {
  padding: 10px 0px 0px 0px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

@media(max-width: 500px){
  h1{
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}
