body {
  text-align: center;
  background: url("http://rossmiglin.com/images/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: arial;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 44px;
}
p {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
li {
  display: block;
}
